<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="form">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control">
        <label for="edad">Edad: </label>
        <input type="number" id="edad" formControlName="edad" class="form-control">
        <label for="Sexo">Sexo: </label>
        <input type="text" id="Sexo" formControlName="sexo" class="form-control">
        <label for="Peso">Peso: </label>
        <input type="number" id="Peso" formControlName="peso" class="form-control">
        <label for="altura">Altura: </label>
        <input type="number" id="altura" formControlName="altura" class="form-control">

        <label class="item">Tipo de inserción</label><br>
        <select class="form-control" formControlName="tipo">
          <option selected disabled>Elegir Sensor</option>
          <option *ngFor="let tipo of tiposInsersion" value="{{tipo.id}}">
            {{tipo.tipo}}</option>
        </select>
        <button (click)='CrearPersona()' [disabled]="!form.valid" class="btn">Crear Persona</button>
      </form>
    </div>

    <div class="col-md-8">
      <h4>Informe: </h4>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Edad</th>
              <th scope="col">Sexo</th>
              <th scope="col">Peso</th>
              <th scope="col">Altura</th>
              <th scope="col">NSS</th>
              <th scope="col">IMC</th>
              <th scope="col">Mayor de Edad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of arrayPersonas; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{persona.nombre}}</td>
              <td>{{persona.edad}}</td>
              <td>{{persona.sexo}}</td>
              <td>{{persona.peso}}</td>
              <td>{{persona.altura}}</td>
              <td>{{persona.NSS}}</td>
              <td *ngIf="persona.IMC == -1">Debajo del peso ideal</td>
              <td *ngIf="persona.IMC == 0">Peso ideal</td>
              <td *ngIf="persona.IMC == 1">Sobrepeso</td>
              <td>{{persona.mayorEdad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>